.userpanel {
     border-left: 1px solid black;
     border-top: none;
     border-right:  1px solid black;
     border-bottom: none;
     background-color: whitesmoke;
}

.clearpanel {
    border: none;
}
.configPanel {
    opacity: 1;
    background-color: palegoldenrod;
}

.definedfield {
    border-style: none none solid none;
    border-color: black;
    border-width: 1px;
}

.timertext {
    font-size: 36px;
}

.timerrunning {
    background-color: teal;
}

.timerfinished {
    background-color: tomato;
}

.timerreset {
    background-color: white;
}

.cardtext {
    color: black;
    font-size: 12px;
}

.cardSelected {
    border: 3px rgb(0,169,224) solid;
}

.rightAlignField {
    text-align: right;
    width: 60%;
    flex: auto;
}

 @keyframes textBlink {
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes textBlink {
  50% {
    opacity: 0.5;
  }
}
.textBlink {
  animation: textBlink 1s step-start 0s infinite;
  -webkit-animation: textBlink 1s step-start 0s infinite;
}

.votingSizeClass {
    font-size: 36px;
    text-align: 'center';
    color: rgb(0,169,224);
    width: 100;
}

.buttonpushed {
    color: rgb(120,190,224)
}

.buttonText {
    font-size: 24px;
}