.userpanel {
     border-left: 1px solid black;
     border-top: none;
     border-right:  1px solid black;
     border-bottom: none;
     background-color: whitesmoke;
}

.clearpanel {
    border: none;
}
.configPanel {
    opacity: 1;
    background-color: palegoldenrod;
}

.textfield {
    border-style: none none solid none;
    border-color: black;
    border-width: 1px;
}
